<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폼 전송 결과</title>

    <style>
      span {
        color: blue;
        font-weight: 700;
      }

      .color {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <h1><%= title %> 폼 결과 확인하기</h1>
    <div><span><%= userInfo.name %></span>님 환영합니다!</div>
    <div>성별은 <span><%= userInfo.gender %></span>이군요!</div>
    <% if (userInfo.year && userInfo.month && userInfo.day) { %>
    <div>
      생년월일은
      <span><%= userInfo.year %>/<%= userInfo.month %>/<%= userInfo.day %></span
      >이군요!
    </div>
    <% } %> <% if (userInfo.hobby) { %>
    <div>관심사는 <span><%= userInfo.hobby %></span>이군요!</div>
    <% } %> <% if (userInfo.color) { %>
    <div class="color">
      좋아하는 색상은
      <div
        style="
          margin: 0 20px;
          width: 100px;
          height: 100px;
          background-color: <%= userInfo.color %>;
        "
      ></div>
      이군요!
    </div>
    <% } %> <% if (userInfo.number) { %>
    <div>좋아하는 숫자는 <span><%= userInfo.number %></span>이군요!</div>
    <% } %>
  </body>
</html>
